/* CSS variables */
:root {
  /* colors */
  --background-color: #fff5e1;
  --text-color: #333333;
  --primary-color: #4c3852;
  --primary-color-light: #6e5773;
  --accent-color: #8a9a5b;
  /* font */
  --body-font: 'Lato', sans-serif;
  /* hamburger menu */
  --bar-gap: 0.5rem;
  --bar-height: 0.4rem;
  --bar-width: 3.5rem;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --hamburger-margin: 0.5rem;
  --x-timing: 200ms ease-in-out;
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  /* transitions */
  --transition-transform: 0.2s transform ease-in-out;
  --transform-scale: scale(1.125);
  --transition-filter: 0.2s filter linear;
}

/* Animations */
@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1rem, -9rem);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Universal box sizing reset */
*,
*::before,
*::after {
  /* border and padding are included in width of element */
  box-sizing: border-box;
}

/* Global styles */
a {
  color: var(--text-color);
  display: inline-block;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: var(--body-font);
  justify-content: space-between;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
h1 {
  animation: 1.2s slideIn ease-out;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
}

/* Component styles */
.shine {
  overflow: hidden;
  position: relative;
}
.shine:after {
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  transform: rotateZ(60deg) translate(-5rem, 7.5rem);
}
.shine:hover::after {
  animation: shine 1s forwards;
}

/* Header styles */
header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
header::after {
  background: inherit;
  bottom: -0.5rem;
  content: '';
  height: 4rem;
  filter: blur(0.2rem);
  position: absolute;
  width: 100%;
  z-index: -1;
}
header a {
  text-decoration: none;
}
.hamburger-menu,
.home {
  display: none;
}
.logo {
  align-items: center;
  display: flex;
  padding: 0 2rem;
}
.logo a {
  color: var(--primary-color);
}
.menu {
  display: flex;
  list-style-type: none;
  padding: 0 2rem;
}
.menu-item {
  margin-left: 2rem;
}
.menu-item a {
  position: relative;
}
.menu-item a::before {
  background-color: var(--primary-color);
  bottom: 1px;
  content: '';
  height: 2px;
  position: absolute;
  width: 0;
}
.menu-item a:hover::before,
.menu-item a:focus::before {
  width: 100%;
}
.menu-item.active a {
  color: var(--primary-color-light);
}
.menu-item.active a:before {
  background-color: var(--primary-color-light);
}

/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem;
}
footer a {
  transition: var(--transition-transform);
}
footer a:hover,
footer a:focus {
  transform: var(--transform-scale);
}
.social-media-icon {
  filter: invert(14%) sepia(7%) saturate(13%) hue-rotate(86deg) brightness(105%)
    contrast(85%);
  padding: 0.3rem;
  text-decoration: none;
}
.social-media-icon img {
  height: 2.4rem;
  width: auto;
}
#email-icon,
#github-icon,
#linkedin-icon {
  transition: var(--transition-transform), var(--transition-filter);
}
#email-icon:hover,
#email-icon:focus {
  scale: var(--transform-scale);
  filter: invert(59%) sepia(7%) saturate(1979%) hue-rotate(34deg)
    brightness(97%) contrast(86%);
}
#github-icon:hover,
#github-icon:focus {
  scale: var(--transform-scale);
  filter: invert(35%) sepia(21%) saturate(1113%) hue-rotate(222deg)
    brightness(96%) contrast(90%);
}
#linkedin-icon:hover,
#linkedin-icon:focus {
  scale: var(--transform-scale);
  filter: invert(28%) sepia(51%) saturate(2451%) hue-rotate(193deg)
    brightness(97%) contrast(96%);
}

/* Main content styles */
main {
  margin: 4rem;
  margin-top: 3rem;
}
main a {
  transition: 0.2s color linear;
}
main a:visited {
  color: var(--primary-color-light);
}
main a:hover,
main a:focus {
  color: var(--primary-color-light);
  text-decoration: none;
}
main p {
  text-align: justify;
}

/* Landing page styles */
.landing-page {
  align-items: center;
  color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 4rem;
  text-shadow: 1px 1px 0 var(--primary-color), -1px 1px 0 var(--primary-color),
    -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color);
}
.title {
  animation: 1.2s slideIn ease-out;
  font-size: 7vw;
  font-weight: 700;
  text-align: center;
}

/* About page styles */
.about-wrapper {
  display: flex;
  gap: 2rem;
}
.bubble {
  align-items: center;
  background-color: white;
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  font-family: 'Merienda', var(--body-font), sans-serif;
  font-size: 0.9rem;
  height: 4rem;
  justify-content: center;
  margin: 0.5rem;
  margin-right: auto;
  padding: 1rem;
  position: relative;
}
.bubble:before {
  background-color: white;
  border-top: solid 1px var(--primary-color);
  border-right: solid 1px var(--primary-color);
  content: '';
  left: 2rem;
  height: 1rem;
  position: absolute;
  top: calc(-0.5rem - 1px);
  transform: rotate(-45deg) skew(-10deg, -10deg);
  width: 1rem;
}
.bubble p {
  text-align: center;
}
.portrait-wrapper {
  flex: 1;
  margin-top: 1.5rem;
}
.portrait-wrapper img {
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
}
.secrets-button {
  background: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  margin-top: 1.6rem;
  padding: 0;
  width: fit-content;
}
.secrets-button span {
  background: var(--primary-color-light);
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
  transform: translateY(-0.3rem);
}
.secrets-button:active span {
  transform: translateY(-0.2rem);
}
.summary-wrapper {
  flex: 3;
}

/* Projects page styles */
.mobile-images {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.project-card {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.project-card:hover .project-card-details,
.project-card:focus .project-card-details {
  opacity: 1;
}
.project-card:hover .project-card-image,
.project-card:focus .project-card-image {
  filter: blur(3px);
}
.project-card-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 3rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
  top: 0;
  width: 100%;
}

.project-card-image {
  margin-top: auto;
  transition: filter 0.2s linear;
  width: 100%;
}
.project-card-title {
  margin: 0;
  padding: 0;
}
.project-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  margin: 0;
}
#your-project {
  background-color: var(--accent-color);
}

/* Contact page styles */
.contact-form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form textarea {
  height: 8rem;
  padding-top: 0.4rem;
}
.contact-form-wrapper {
  display: flex;
  justify-content: center;
}
.input {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-size: 1rem;
  height: 2rem;
  outline: none;
  padding: 1.2rem;
  width: 20rem;
}
.input:focus {
  border: 2px solid var(--accent-color);
}
.submit-button {
  background: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  font-family: var(--body-font);
  font-size: 1rem;
  height: 2rem;
  line-height: 1rem;
  margin: 1rem auto;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  transition: var(--transition-transform);
}
.submit-button:active {
  background-color: var(--primary-color-light);
}

/* Media queries */
@media all and (min-width: 969px) and (max-width: 1221px) {
  .bubble {
    height: 5.5rem;
  }
}
@media all and (min-width: 834px) and (max-width: 968px) {
  .bubble {
    height: 7rem;
  }
}
@media all and (min-width: 751px) and (max-width: 833px) {
  .bubble {
    height: 8rem;
  }
}
@media all and (max-width: 750px) {
  /* Hamburger menu styling */
  .hamburger-menu {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    position: absolute;
    right: var(--hamburger-margin);
    top: var(--hamburger-margin);
    width: max-content;
    z-index: 2;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    background-color: var(--text-color);
    border-radius: 100px;
    content: '';
    height: var(--bar-height);
    transform-origin: right center;
    transition: opacity var(--x-timing), width var(--x-timing),
      rotate var(--x-timing), translate var(--x-timing),
      background-color var(--x-timing);
    width: var(--bar-width);
  }
  .hamburger-menu input {
    appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  .hamburger-menu:has(input:checked) + .menu {
    transform: translateY(0);
  }
  .menu {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    left: 0;
    margin-top: calc(
      var(--hamburger-height) + var(--hamburger-margin) + 0.5rem
    );
    max-width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    transform: translateY(-130%);
    transition: transform var(--x-timing);
    width: 100%;
  }
  .menu-item {
    border-bottom: 1px solid var(--background-color);
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }
  .menu-item:last-child {
    border-bottom: none;
  }
  .menu-item a,
  .menu-item a:visited,
  .menu-item.active a {
    color: var(--background-color);
  }
  .menu-item a:hover::before {
    width: 0;
  }

  /* Other media queries */
  main {
    margin: 2rem;
    margin-top: 3rem;
  }
  .about-wrapper {
    flex-direction: column-reverse;
  }
  .bubble {
    height: 5.5rem;
    margin: 0.5rem 0;
  }
  .home {
    display: block;
  }
  .logo {
    height: calc(var(--hamburger-height) + var(--hamburger-margin) + 0.5rem);
    padding: 0 1rem;
  }
  .logo a {
    color: var(--text-color);
  }
  .portrait-wrapper {
    padding: 0 3rem;
  }
  .secrets-button {
    display: block;
    margin: auto;
    margin-top: 1.6rem;
  }
  .title {
    font-size: 9vw;
  }
}
